.Bundlecard{
    display: flex;
    justify-content: space-between;
    width: 300px;
    background-color: rgba(207, 207, 207, 0.5);
    margin-bottom: 20px;
    margin-right: 20px;
    border-radius: 8px;
    padding: 5px;
    border: 0.5px solid rgba(0, 0, 0, 0.623);
}

.RemoveIcon{
    display: flex;
    justify-content: right
}